.competitions-sidebar{
    width: 360px;
    height: 80vh;
    position: fixed;
    top: 130px;
    left: 0;
    padding: 30px;
    padding-top: 20px;
    box-shadow: 0 0 20px purple;
    overflow-y: scroll;
    transform: translateX(0);
    transition: transform 0.3s ease;
    background-color: #3bff8d5e;
    backdrop-filter: blur(10px);
}

.sidebar-closed {
  transform: translateX(-100%);
}

.sidebar-toggle {
  position: fixed;
  z-index: 100;
  top: 90px;
  left: 40px;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

select{
  max-width: 300px;
}
.competitions-content-container{
    flex: 3;
    padding: 20px;

}
.competitions-body-container{
    display: flex;
}
.kv-container {
  /* max-width: 500px; */
  margin: 10px 0;
  font-family: system-ui, sans-serif;
}

.kv-table {
  width: 100%;
  border-collapse: collapse;
}

.kv-table th {
  text-align: left;
  font-weight: 600;
  padding: 0 10px 8px 10px;
  width: 20%;
  color: #833bff;
}

.kv-table td {
  font-size: 12px;
  padding: 0 10px 8px 10px;
  color: #000000;
}

/* subtle row separation */
.kv-table tr:not(:last-child) {
  border-bottom: 1px solid #eee;
}