.summer-programs-sidebar {
  /* flex: 1; */
  width: 360px;
  height: 80vh;
  position: fixed;
  top: 130px;
  padding: 30px;
  padding-top: 20px;
  box-shadow: 0 0 20px purple;
  overflow-y: scroll;
  transform: translateX(0);
  transition: transform 0.3s ease;
  background-color: #3bff8d5e;
  backdrop-filter: blur(10px);


}

.sidebar-closed {
  transform: translateX(-100%);
}

.sidebar-toggle {
  position: fixed;
  z-index: 100;
  top: 90px;
  left: 40px;
  color: white;

}

.summer-programs-content-container {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;

}

.summer-programs-body-container {
  display: flex;
}

.kv-summer-container {
  /* max-width: 500px; */
  margin: 10px 0;
  font-family: system-ui, sans-serif;
}

.kv-summer-table {
  font-size: 12px;
  width: 100%;
  border-collapse: collapse;
}

.kv-summer-table th {
  text-align: left;
  font-weight: 600;
  padding: 0 10px;
  width: 20%;
  color: #763bff;
}

.kv-summer-table td {
  padding: 0 10px;
  color: #000000;
}

/* subtle row separation */
.kv-summer-table tr:not(:last-child) {
  border-bottom: 1px solid #eee;
}